.profile__add-button {
    background: url(../../../image/add-btn-correct.svg) center no-repeat transparent;
    height: 50px;
    width: 150px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: opacity .7s ease-in-out;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: .6;
}

@media (max-width: 930px) {
    .profile__add-button {
        margin-top: 36px;
        width: 327px;
    }
  }

  @media (max-width: 600px) {
    .profile__add-button {
        margin-top: 36px;
        width: 282px;
    }
  }